html {
  scroll-behavior: smooth; }

body {
  padding: 50px 0 0; }

p {
  margin: auto; }

.bg-template, #about #bg, #recent-work #bg, #portfolio #bg, #contact #bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1024px;
  background-position-y: 20%;
  width: auto; }

.content-template, #about, #recent-work, #portfolio, #contact {
  z-index: 0;
  position: relative; }

#about #bg {
  background-image: linear-gradient(to bottom, rgba(2, 8, 48, 0.52), rgba(22, 171, 240, 0.73)), url("../shared/images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg"); }

#recent-work #bg {
  background-image: linear-gradient(to bottom, rgba(2, 8, 48, 0.52), rgba(255, 241, 112, 0.73)), url("../shared/images/apple-code-coding-computer-574069.jpg"); }

#portfolio #bg {
  background-image: linear-gradient(to bottom, rgba(2, 8, 48, 0.52), rgba(22, 171, 240, 0.73)), url("../shared/images/iphone-notebook-pen-working-34578.jpg"); }

#contact #bg {
  background-image: linear-gradient(to bottom, rgba(2, 8, 48, 0.52), rgba(255, 241, 112, 0.73)), url("../shared/images/three-black-handset-toys-821754.jpg"); }

.navbar {
  background-image: linear-gradient(to bottom, rgba(2, 8, 48, 0.52), #2b2b2b);
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0;
  top: 0;
  z-index: 50; }
  .navbar .iconlist {
    display: flex; }
    .navbar .iconlist #icon img {
      -webkit-filter: invert(100%) !important;
      filter: invert(0%);
      height: 32px;
      width: 32px;
      margin-left: 10px; }
    .navbar .iconlist #icon:hover {
      -webkit-filter: invert(100%) !important;
      filter: invert(0%);
      cursor: pointer; }
  .navbar #navlist {
    padding: 0px;
    align-items: center;
    font: 150% Verdana;
    flex-wrap: nowrap;
    display: flex;
    position: relative;
    justify-content: left; }
    .navbar #navlist #navItem {
      padding: 10px; }
      .navbar #navlist #navItem p {
        font: 100% Verdana;
        color: white; }
      .navbar #navlist #navItem a {
        text-decoration: none; }
      .navbar #navlist #navItem:hover p {
        -webkit-filter: invert(100%) !important;
        filter: none;
        cursor: pointer; }

.section {
  position: inherit;
  height: 888px; }
  .section .header {
    width: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    padding-top: 50px; }
    .section .header img {
      height: 200px;
      width: 200px; }
    .section .header #summary #name {
      margin: 10px;
      align-content: center;
      display: flex; }
      .section .header #summary #name p {
        color: white;
        font: bold 300% Verdana; }
    .section .header #summary #details {
      padding: 10px;
      margin: 10px; }
      .section .header #summary #details p {
        color: white;
        font: 150% Verdana; }
  .section .content {
    background-color: rgba(22, 171, 240, 0.73);
    height: 20px;
    margin: 15px;
    position: relative;
    border: thin black;
    box-shadow: 10px 5px 5px black;
    opacity: 65%; }
    .section .content p {
      color: white;
      opacity: 100%; }
