@font-face {
  font-family: "Code Bold";
  src: url("../fonts/code_bold-webfont.woff"); }

@font-face {
  font-family: "Code Light";
  src: url("../fonts/code_light-webfont.woff"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf"); }

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

p {
  margin: auto; }
  p #highlight {
    background-color: rgba(255, 241, 112, 0.73);
    color: #333333;
    padding: 5px; }
  p #underline {
    text-decoration: underline rgba(255, 241, 112, 0.73); }

.bg-template, #about #bg, #recent-work #bg, #portfolio #bg, #contact #bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  width: auto; }

.content-template, #about, #recent-work, #portfolio, #contact {
  z-index: 0;
  position: relative; }

#about {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  #about #title {
    width: 100%; }
  #about #bg {
    background-image: linear-gradient(to bottom, rgba(2, 8, 48, 0.52), rgba(22, 171, 240, 0.73)), url("../images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg"); }
    #about #bg .section {
      padding: 200px; }
      @media screen and (max-width: 1024px) {
        #about #bg .section {
          padding: 100px; } }

#recent-work #bg {
  background-color: white; }
  #recent-work #bg .section #summary #title {
    margin: 0px; }
    #recent-work #bg .section #summary #title p {
      color: black; }

#portfolio {
  clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0 100%); }
  #portfolio #bg {
    background-image: linear-gradient(to bottom, rgba(2, 8, 48, 0.52), rgba(255, 241, 112, 0.73)), url("../images/iphone-notebook-pen-working-34578.jpg"); }

#contact {
  text-align: center; }
  #contact #contact-tag {
    font: bold 75px "Code Bold";
    margin: 40px;
    font-size: 250%;
    color: #fff564; }
  #contact #bg {
    background-color: black; }
    #contact #bg .section {
      padding: 10px 0 50px 0; }
  #contact #license {
    font: 25px "Open Sans Light";
    color: gray; }

.contact-info {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-info #phone-number {
    font: 25px "Open Sans Light";
    color: white; }
  .contact-info #email-address {
    font: 25px "Open Sans Light";
    color: white; }

.icon-list {
  margin: 20px; }
  .icon-list #icon {
    font-size: 50px;
    color: white;
    margin: 10px; }
    .icon-list #icon:hover {
      cursor: pointer;
      text-shadow: 2px 2px 8px rgba(255, 241, 112, 0.73); }

#menu-btn {
  color: white;
  position: fixed;
  display: flex;
  right: 0;
  padding: 0;
  top: 0;
  margin: 15px;
  text-decoration: none;
  z-index: 50; }
  #menu-btn i {
    font-size: 30px;
    text-shadow: 2px 2px 8px black; }
  #menu-btn:hover {
    -webkit-filter: invert(100%) !important;
    filter: invert(0%);
    transition: 0.2s ease-in-out;
    cursor: pointer; }

#menu-window {
  right: 0;
  position: fixed;
  z-index: 49;
  opacity: 0;
  padding: 0 10px 0 10px;
  transition: 0.2s ease-in-out;
  text-align: end; }
  @media screen and (max-width: 1024px) {
    #menu-window {
      width: 100%;
      display: flex; } }
  #menu-window .menu-item {
    font: 25px "Code Light";
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    color: white;
    margin: 15px;
    display: none;
    text-decoration: none; }
    #menu-window .menu-item p:hover {
      font-size: xx-large;
      font-weight: bold; }

.button1 {
  font: 25px "Code Light";
  font-size: 25px;
  width: auto;
  height: auto;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.05em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s; }
  .button1:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer; }

.button2, .more-info-btn, .hide-info-btn, .header #resume-btn-container .resume-btn {
  background-color: rgba(22, 171, 240, 0.73);
  font-weight: bolder;
  font: 25px "Code Light";
  color: white;
  border-radius: 25px;
  box-shadow: 3px 0px 10px black;
  padding: 10px;
  margin: 0 0 50px 0;
  height: 50px;
  width: 175px;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out; }
  .button2 p, .more-info-btn p, .hide-info-btn p, .header #resume-btn-container .resume-btn p {
    display: inline;
    margin: 10px; }
  .button2:hover, .more-info-btn:hover, .hide-info-btn:hover, .header #resume-btn-container .resume-btn:hover {
    background-color: white;
    color: black;
    box-shadow: 3px 0px 10px rgba(22, 171, 240, 0.73);
    cursor: pointer; }
    .button2:hover p, .more-info-btn:hover p, .hide-info-btn:hover p, .header #resume-btn-container .resume-btn:hover p {
      display: none; }
    .button2:hover::after, .more-info-btn:hover::after, .hide-info-btn:hover::after, .header #resume-btn-container .resume-btn:hover::after {
      content: "Click me"; }

.more-info-btn {
  display: flex; }

.hide-info-btn {
  display: none; }

.more-info {
  display: none;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .more-info p {
    font: 25px "Code Light";
    font-weight: bolder;
    margin: 10px; }
  .more-info #info-table {
    margin: 20px;
    padding: 0; }
    .more-info #info-table #info-row {
      background-color: white;
      border-style: solid;
      border-width: 3px;
      border-left-width: 10px;
      border-right-width: 10px;
      border-color: rgba(22, 171, 240, 0.73);
      border-radius: 25px;
      box-shadow: 2px 2px 8px black;
      display: flex;
      flex-direction: row;
      margin: 20px;
      padding: 20px;
      align-items: center; }
      @media screen and (max-width: 1024px) {
        .more-info #info-table #info-row {
          flex-direction: column; } }
      .more-info #info-table #info-row #info-row-header {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0; }
        @media screen and (max-width: 648px) {
          .more-info #info-table #info-row #info-row-header {
            width: 50%; } }
        .more-info #info-table #info-row #info-row-header p {
          font: 25px "Code Light";
          font-weight: bolder;
          margin: 10px; }
      .more-info #info-table #info-row #info-row-content {
        width: 75%;
        height: 25%;
        list-style-type: square; }
        .more-info #info-table #info-row #info-row-content li {
          font: 25px "Open Sans Light";
          margin: 10px; }

.active {
  background-color: #717171 !important; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .dot:hover {
    background-color: #717171; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

.navbar #nav-btn {
  font-size: xx-large;
  color: black;
  font-size: xx-large;
  margin: 0 25px 0 25px;
  user-select: none;
  padding: 50px; }
  .navbar #nav-btn:hover {
    color: white;
    text-shadow: 2px 2px 8px black;
    cursor: pointer; }
  .navbar #nav-btn i {
    font-size: xx-large;
    color: #292929;
    text-shadow: 4px 2px 4px lightgray; }

.header {
  font: bold 75px "Code Bold";
  color: rgba(10, 59, 82, 0.73);
  font-weight: bolder;
  text-align: center;
  padding: 50px 50px 150px 50px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, rgba(255, 241, 112, 0.73), white);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 77%); }
  .header p {
    font: 25px "Open Sans Light"; }
  .header #resume-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .header #resume-btn-container p {
      margin: 50px 5px 50px 50px;
      font: 25px "Open Sans Light"; }
    .header #resume-btn-container a {
      text-decoration: none; }
    .header #resume-btn-container .resume-btn {
      width: 300px;
      display: flex;
      margin: 50px 50px 50px 5px;
      padding: 10px; }
      @media screen and (max-width: 1024px) {
        .header #resume-btn-container .resume-btn {
          height: 75px;
          width: 160px; } }
      .header #resume-btn-container .resume-btn p {
        font: 25px "Code Light"; }

.section {
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  .section img {
    height: 200px;
    width: 200px; }
  .section #summary {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section #summary #title {
      margin: 50px;
      align-content: center;
      display: flex; }
      .section #summary #title p {
        color: white;
        font: bold 75px "Code Bold"; }
    .section #summary #name {
      margin: 10px;
      align-content: center;
      display: flex; }
      .section #summary #name p {
        color: white;
        font: 60px "Code Bold"; }
    .section #summary .details-slide {
      display: none;
      opacity: 1;
      flex-direction: column;
      align-items: center; }
      .section #summary .details-slide i {
        font-size: 50px; }
      .section #summary .details-slide #details {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0 25px 0 25px;
        padding: 50px;
        transition: 0.5s ease-in-out; }
        @media screen and (max-width: 1620px) {
          .section #summary .details-slide #details {
            flex-direction: column;
            padding: 10px;
            margin: 10px; } }
        .section #summary .details-slide #details img {
          height: fit-content;
          width: auto; }
        .section #summary .details-slide #details p {
          color: white;
          font: 25px "Code Light"; }
        .section #summary .details-slide #details #job-header {
          display: inline;
          flex-direction: column;
          align-items: flex-end; }
          .section #summary .details-slide #details #job-header #work-info {
            display: flex; }
            .section #summary .details-slide #details #job-header #work-info #company-name {
              font: 60px "Code Bold";
              color: rgba(49, 49, 49, 0.52); }
            .section #summary .details-slide #details #job-header #work-info #job-title {
              font: bold 75px "Code Bold";
              padding: 30px;
              font-weight: bolder;
              color: black;
              text-align: center; }
        .section #summary .details-slide #details #job-tag {
          margin: 20px; }
          .section #summary .details-slide #details #job-tag p {
            font: 25px "Open Sans Light";
            font-weight: bolder;
            color: black; }
        .section #summary .details-slide #details #skills {
          list-style-type: none; }
          .section #summary .details-slide #details #skills li {
            display: flex;
            margin-bottom: 10px;
            color: black; }
            .section #summary .details-slide #details #skills li p {
              color: #505050;
              font: 25px "Open Sans Light";
              font-weight: bold;
              margin-left: 20px; }
    .section #summary #profile-pic-container {
      display: flex;
      justify-content: center; }
      .section #summary #profile-pic-container #profile-pic {
        position: relative;
        height: 120px;
        width: 120px;
        margin: 25px 0 25px 0; }
        .section #summary #profile-pic-container #profile-pic:hover {
          cursor: pointer; }
          .section #summary #profile-pic-container #profile-pic:hover #jc-pic {
            opacity: 0; }
          .section #summary #profile-pic-container #profile-pic:hover #git-pic {
            opacity: 1; }
        .section #summary #profile-pic-container #profile-pic img {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 120px;
          height: 120px;
          opacity: 1;
          transition: .5s ease;
          border-radius: 50%; }
        .section #summary #profile-pic-container #profile-pic #jc-pic {
          opacity: 1; }
        .section #summary #profile-pic-container #profile-pic #git-pic {
          opacity: 0; }
    .section #summary #btnContainer {
      justify-content: center;
      display: flex; }
      .section #summary #btnContainer a {
        text-decoration: none; }
