p {
  margin: auto;
  font: bold 100% Verdana black; }

.header {
  width: 100%;
  position: relative;
  display: inline-flex; }
  .header p {
    text-shadow: 2px 2px 8px white; }
  .header img {
    height: 200px;
    width: 200px; }
  .header #name {
    margin: 10px;
    font: bold 200% Verdana black; }
  .header #details {
    padding: 10px;
    background-color: #f7f2a8;
    border-style: solid;
    margin: 10px;
    box-shadow: 5px 5px 5px #000000;
    font: bold 100% Verdana black; }

.navbar {
  padding: 0px;
  font-size: large;
  align-items: baseline;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  justify-content: center; }
  .navbar p {
    text-shadow: 2px 2px 8px white; }
  .navbar .navItem {
    padding: 10px; }
    .navbar .navItem:hover {
      text-shadow: 2px 2px 8px black;
      color: white;
      cursor: pointer; }

.content {
  background-color: #11c9dd;
  height: 20px;
  margin: 15px;
  position: relative;
  border: thin black;
  box-shadow: 10px 5px 5px #000000;
  opacity: 65%; }
  .content p {
    opacity: 100%; }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */ } }
