$font-primary: white;
$font-secondary: rgb(0, 0, 0);
$font-simple: rgba(49, 49, 49, 0.52);
$primary: rgba(2, 8, 48, 0.52);
$secondary-1: rgba(22, 171, 240, 0.73);
$secondary-2: rgba(255, 241, 112, 0.73);