$font-primary: rgb(255, 255, 255);
$font-secondary: rgb(212, 212, 212);
$font-simple: rgb(217, 214, 255);
$font-invert: rgb(0,0,0);
$bg-primary: rgb(0, 0, 0);
$bg-secondary: rgb(44, 54, 99);
$hl-primary: rgb(41, 17, 255);
$hl-secondary: rgb(248, 43, 255);
