// @font-face {
//     font-family: "Intro Inline";
//     src: url("../fonts/intro_inline-webfont.woff2");
//     }
// @font-face {
//     font-family: "Sketchetik";
//     src: url("../fonts/sketchetik-light-webfont.woff");
//     }
@font-face {
    font-family: "Code Bold";
    src: url("../fonts/code_bold-webfont.woff");
}
@font-face {
    font-family: "Code Light";
    src: url("../fonts/code_light-webfont.woff");
}
@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins Light";
    src: url("../fonts/Poppins-Light.ttf");
}

$h1-font: 75px "Poppins Bold";
$h2-font: 60px "Poppins Regular";
$h3-font: 25px "Poppins Medium";
$h4-font: 25px "Poppins Light";