$about-img: '../images/CodeBG.mp4';
$recent-work-img: '../images/apple-code-coding-computer-574069.jpg';
$portfolio-img: '../images/iphone-notebook-pen-working-34578.jpg';
$contact-img: '../images/three-black-handset-toys-821754.jpg';
