@import "shared/scss/color";
@import "shared/scss/font";

p {
  margin: auto;
}

.header {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-content: center;
  img {
    height: 200px;
    width: 200px;
  }
  #name {
    margin: 10px;
    align-content: center;
    display: flex;
    p {
      color: $font-primary;
      font: $h1-font;
    }
  }
  #details {
    padding: 10px;
    margin: 10px;
    p {
      color: $font-primary;
      font: $h2-font;
    }
  }
}

.navbar {
  // background-color: $highlight;
  // height: 20px;
  #github-icon {
    img {
      -webkit-filter: invert(100%) !important;
      filter: none;
      height: 32px;
      width: 32px;
    }
    &:hover {
      -webkit-filter: invert(100%) !important;
      filter: none;
      cursor: pointer;
    }
  }
  #navlist {
    padding: 0px;
    align-items: center;
    font: $h2-font;
    flex-wrap: nowrap;
    display: flex;
    position: relative;
    justify-content: left;
    #navItem {
      padding: 10px;
      p {
        font: $h3-font;
        color: $font-primary;
      }
      &:hover {
        p {
          color: black;
          text-shadow: white;
          cursor: pointer;
        }
      }
    }

  }
}

.content {
  background-color: $secondary;
  height: 20px;
  margin: 15px;
  position: relative;
  border: thin black;
  box-shadow: 10px 5px 5px black;
  opacity: 65%;
  p {
    color: $font-primary;
    opacity: 100%;
  }
}

.bg {
  background-image:
    linear-gradient(to bottom, rgba(2, 8, 48, 0.52), rgba(22, 171, 240, 0.73)),
    url('../shared/images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg');
  min-height: 100%;
  min-width: 1024px;
  background-position-y: 20%;
  background-size: cover;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  
}

@media screen and (max-width: 1024px) {
  .bg {
    left: 50%;
    margin-left: -512px;
  }
}