@import "scss/color";
@import "scss/font";
@import "scss/images";

html {
  scroll-behavior: smooth;
}

p {
  margin: auto;
  #highlight {
    background-color: $secondary-2;
    color: rgb(51, 51, 51);
    padding: 5px;
  }
  #underline {
    text-decoration: underline $secondary-2;
  }
}

.bg-template {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  width: auto;
}

.content-template {
  z-index: 0;
  position: relative;
}

#about {
  @extend .content-template;
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
  #title {
    @media screen and (max-width: 1024px){
      width: auto;
    }
    width: 786px;
  }
  #bg {
    @extend .bg-template;
    background-image:
      linear-gradient(to bottom, $primary, $secondary-1),
      url($about-img);
  }
}

#recent-work {
  @extend .content-template;
  #bg {
    @extend .bg-template;
    background-color: white;
    .section {
      #summary {
        #title {
          margin: 0px;
          p {
            color: black;
          }
        }
      }
    }
  }
}

#portfolio {
  @extend .content-template;
  clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0 100%);
  #bg {
    @extend .bg-template;
    background-image:
    linear-gradient(to bottom, $primary, $secondary-2),
      url($portfolio-img);
  }
}

#contact {
  @extend .content-template;
  height: 400px;
  p {
    font: $h1-font;
    font-size: 300%;
    color: white;
  }
  #bg {
    @extend .bg-template;
    background-color: black;
  }
}

.button1 {
  font: $h3-font;
  font-size: 25px;
  width: auto;
  height: auto;
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.05em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  &:hover {
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
  }
}

#menu-btn {
  color: white;
  position: fixed;
  display: flex;
  right: 0;
  padding: 0;
  top: 0;
  margin: 15px;
  text-decoration:none;
  z-index: 50;
  i {
    font-size: 30px;
  }
  &:hover {
    -webkit-filter: invert(100%) !important;
    filter: invert(0%);
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
}

#menu-window {
  right: 0;
  position: fixed;
  z-index: 49;
  opacity: 0;
  padding: 0 10px 0 10px;
  transition: 0.2s ease-in-out;
  @media screen and (max-width: 1024px){
    width: 100%;
    display: flex;
  }
  #menu-item {
    font: $h3-font;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0 2px 8px $font-secondary;
    color: $font-primary;
    margin: 15px;
    text-decoration: none;
    p {
      &:hover {
        text-shadow: 2px 2px 8px $secondary-2;
        font-weight: bold;
      }
    }
  }
}

#expand-details-btn {
  background-color: $secondary-1;
  font-weight: bolder;
  color: white;
  border-radius: 25px;
  box-shadow: 3px 0px 10px black;
  padding: 10px;
  height: 50px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    display: inline;
    margin: 10px;
  }
  &:hover {
    background-color: $font-primary;
    color: $font-secondary;
    box-shadow: 3px 0px 10px $secondary-1;
    cursor: pointer;
    p {
      display: none;
    }
    &::after {
      content: "Click me";
    }
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  &:hover {
    background-color: #717171;
  }
}

.section {
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  width: 100%;
  position: relative;
  justify-content: center;
  img {
    height: 200px;
    width: 200px;
  }
  #summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    #title {
      margin: 50px;
      align-content: center;
      display: flex;
      p {
        color: $font-primary;
        font: $h1-font;
      }
    }
    #name {
      margin: 10px;
      align-content: center;
      display: flex;
      p {
        color: $font-primary;
        font: $h2-font;
      }
    }
    #details-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      #nav-btn {
        font-size: xx-large;
        color: black;
        margin: 0 25px 0 25px;
        &:hover {
          color: white;
        }
      }
      #details {
        @media screen and (max-width: 1024px) {
          padding: 10px;
          margin: 10px;
        } 
        display: flex;
        flex-direction: column;
        margin: 0 25px 0 25px;
        padding: 20px;
        transition: 0.5s ease-in-out;
        #job-header {
          display: flex;
          align-items: flex-end;
          img {
            height: auto;
            width: 50%;
          }
          #work-info {
            display: grid;
            #company-name {
              font: $h2-font;
              text-shadow: 3px 0px 10px black;
            }
            #job-title {
              font: $h3-font;
              font-weight: bolder;
              color: blue;
              text-shadow: 3px 0px 10px black;
            }
          }
        }
        #job-tag {
          margin: 20px;
          p {
            font: $h1-font;
            font-size: 150%;
            color: black; 
          }
        }
        #skills {
          list-style-type: none;
          li {
            display: flex;
            margin-bottom: 10px;
            color: black; 
            p {
              color: rgb(80, 80, 80);
              font: $h3-font;
              font-weight: bolder;
              margin-left: 20px;
            }
          }
          i {
            font-size: xx-large;
            color: rgb(41, 41, 41);
            text-shadow: 4px 2px 4px lightgray;
          }
        }
        p {
          color: $font-primary;
          font: $h3-font;
          margin-left: 20px;
        }
      }
    }
    #profile-pic-container {
      display: flex;
      justify-content: center;
      #profile-pic {
        position: relative;
        height: 120px;
        width: 120px;
        margin: 25px 0 25px 0;
        &:hover {
          cursor: pointer;
          #jc-pic {
            opacity: 0;
          }
          #git-pic {
            opacity: 1;
          }
        }
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 120px;
          height: 120px;
          opacity: 1;
          transition: .5s ease;
          border-radius: 50%;
        }
        #jc-pic {
          opacity: 1;
        }
        #git-pic {
          opacity: 0;
        }
      }
    }
    #btnContainer {
      justify-content: center;
      display: flex;
      a {
        text-decoration: none;
      }
    }
  }
  
  .content {
    background-color: $secondary-1;
    height: 20px;
    margin: 15px;
    position: relative;
    border: thin black;
    box-shadow: 10px 5px 5px black;
    opacity: 65%;
    p {
      color: $font-primary;
      opacity: 100%;
    }
  }
}