@import "shared/scss/color";
@import "shared/scss/font";

p {
  margin: auto;
  font: $h2-font;
}

.header {
  width: 100%;
  position: relative;
  display: inline-flex;
  p {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
  }
  img {
    height: 200px;
    width: 200px;
  }
  #name {
    margin: 10px;
    font: $h1-font;
  }
  #details {
    padding: 10px;
    background-color: $highlight;
    border-style: solid;
    margin: 10px;
    box-shadow: 5px 5px 5px #000000;
    font: $h2-font;
  }
}

.navbar {
  // background-color: $highlight;
  // height: 20px;
  padding: 0px;
  font-size: large;
  align-items: baseline;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  justify-content: center;
  p {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
  }
  .navItem {
    padding: 10px;
    &:hover {
      text-shadow: 2px 2px 8px rgb(0, 0, 0);
      color: white;
      cursor: pointer;
    }
  }
}

.content {
  background-color: $secondary;
  height: 20px;
  margin: 15px;
  position: relative;
  border: thin black;
  box-shadow: 10px 5px 5px $shadow;
  opacity: 65%;
  p {
    opacity: 100%;
  }
}

img.bg {
  
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}