// @font-face {
//     font-family: "Intro Inline";
//     src: url("../shared/fonts/intro_inline-webfont.woff2");
//     }
// @font-face {
//     font-family: "Sketchetik";
//     src: url("../shared/fonts/sketchetik-light-webfont.woff");
//     }
@font-face {
    font-family: "Code Bold";
    src: url("../shared/fonts/code_bold-webfont.woff");
}
@font-face {
    font-family: "Code Light";
    src: url("../shared/fonts/code_light-webfont.woff");
}

$h1-font: bold 75px "Code Bold";
$h2-font: 60px "Code Bold";
$h3-font: 25px "Code Light";