$about-img: '../shared/images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg';
$recent-work-img: '../shared/images/apple-code-coding-computer-574069.jpg';
$portfolio-img: '../shared/images/iphone-notebook-pen-working-34578.jpg';
$contact-img: '../shared/images/three-black-handset-toys-821754.jpg';
